@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
/* font-family: 'Bubblegum Sans', cursive; */


* {
    padding: 0;
    margin: 0;
}

/* ---------------------------------------------header--------------------------------------------------------------------- */

header {
    background: rgb(15, 15, 15);
}

.yt_icon {
    width: 150px;
    position: absolute;
    left: 100px;
    top: 30px;
}

/* --------------------nav------------------------ */


.header-nav {
    background: rgb(15, 15, 15);
    margin: 0 auto;
    width: 940px;
    height: 120px;
    position: relative;
}

header nav {
    position: absolute;
    top: 0px;
    right: 200px;
}

header li {
    display: inline-block;
}


/* ---------------------------------------------main---------------------------------------------------------------------- */

main {
    background: rgb(114, 76, 76);
    font-family: 'Bubblegum Sans', cursive;
    color: #D7E1E4;
}


.main-structure {
    background: rgb(15, 15, 15);
    margin: 0 auto;
    width: 940px;
    height: 1300px;
}

.video-1 {
    opacity: 0.2;
    transition: 0.5s;
}

.video-1:hover {
    opacity: 1;
} 



main iframe {
    float: left;
    margin: 0 20px 10px 20px;
}



main h2 {
    text-transform: uppercase;
}

main h3 {
    clear: left;
    text-align: center;
    background: #F62802;
    color: #141414;
    position: relative;
    
}

.like-dislike {
    position: absolute;
    left: 435px;
}

/* ---------------------------------------------video-2---------------------------------------------------------------------- */


.video-2 {
    margin: 40px 0 0 0;
}


.video-2 {
    opacity: 0.2;
    transition: 0.5s;
}

.video-2:hover {
    opacity: 1;
} 

/* ---------------------------------------------footer---------------------------------------------------------------------- */

footer {
    background-color: rgb(141, 130, 130);
    height: 300px;
}

table {
    margin: 20px 0 40px;
    position: absolute;
    left: 650px;
}

thead {
    background: #555555;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 8px 15px;
    text-align: center;
}

