@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
/* font-family: 'Bubblegum Sans', cursive; */


* {
    padding: 0;
    margin: 0;
}

/* ---------------------------------------------header--------------------------------------------------------------------- */

header {
    background: rgb(15, 15, 15);
}

.yt_icon {
    width: 150px;
    position: absolute;
    left: 100px;
    top: 30px;
}

/* --------------------nav------------------------ */


.header-nav {
    background: rgb(15, 15, 15);
    margin: 0 auto;
    width: 940px;
    height: 120px;
    position: relative;
}

header nav {
    position: absolute;
    top: 0px;
    right: 200px;
}

header li {
    display: inline-block;
}


/* ---------------------------------------------main---------------------------------------------------------------------- */

main {
    background: rgb(114, 29, 29);
    height: 1900px;
    font-family: 'Bubblegum Sans', cursive;
    color: #D7E1E4;
} 

.main-structure {
    margin: 0 auto;
    width: 940px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}








/* ---------------------------------------------footer---------------------------------------------------------------------- */

footer {
    background-color: rgb(141, 130, 130);
    height: 300px;
}

table {
    margin: 20px 0 40px;
    position: absolute;
    left: 650px;
}

thead {
    background: #555555;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 8px 15px;
    text-align: center;
}

